* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Racing Sans One", sans-serif;
  text-align: center;
}

* button,
a {
  cursor: pointer;
}
body {
  background-color: #020a1f;
}

header {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 1rem;
  height: 8vh;
}

header input {
  text-align: center;
  align-self: center;
  height: 2.25rem;
  border-radius: 1rem;
  width: 50vw;
}

#kundvagn_innehåll {
  display: none;
  position: absolute;
  top: 4rem;
  right: 1rem;
  width: 12rem;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: auto;
}

#kundvagn:focus-within > #kundvagn_innehåll {
  display: flex;
  flex-direction: column;
}

aside {
  display: flex;
  background-color: #d9d9d9;
  width: 10vw;
  justify-content: center;
}
aside a {
  background-color: white;
  color: black;
  text-decoration: none;
}
aside li {
  list-style: none;
  padding: 10% 0;
}

a:hover {
  color: blue;
}
a:active {
  color: red;
}

main {
  display: flex;
  background-color: #686a6c;
  flex-wrap: wrap;
}

footer {
  display: flex;
  color: white;
  justify-content: space-around;
}
footer a {
  align-self: center;
  padding: 0.5rem;
}

.produkt {
  display: flex;
  justify-content: center;
  background-color: #d9d9d9;
  margin: 0.5rem;
  padding: 1rem;
  flex-direction: column;
}

.produkt button {
  display: flex;
  width: fit-content;
  align-self: center;
}

nav {
  background-color: #d9d9d9;
}

nav p {
  background-color: white;
  width: 75vw;
}

@media only screen and (max-width: 767px) {
  aside {
    display: none;
  }
  .produkter {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
  }
  .produkt img {
    height: 25vh;
    width: 75vw;
  }
  header button img {
    height: 4vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  aside {
    display: none;
  }
  .produkter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }
  .produkt img {
    height: 30vh;
    width: 40vw;
  }
  header button img {
    height: 4vh;
  }
}

@media only screen and (min-width: 1025px) {
  header {
    height: 12vh;
  }
  nav {
    display: none;
  }
  .produkter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
  }
  .produkt img {
    height: 25vh;
    width: 25vw;
  }
  header button img {
    height: 8vh;
  }
}
